/* Author: Dionisius Raka as codde.iD */
/* Copyright codde.iD */

body {
    overflow-x: hidden;
}

:root {
    --color-background: #fff;
    --color-sub: #C41E3A;
    --color-text: rgba(16, 16, 16, 0.87);
    --color-btn: #FF4433;

    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 500ms ease;
}


/* navbar */
nav {
    background: var(--color-sub);
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    z-index: 1000;
}

/* content */
.container-one {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box {
    transform: translateX(400%) ;
    -webkit-transform: translateX(400%) ;
    -moz-transform: translateX(400%) ;
    -ms-transform: translateX(400%) ;
    -o-transform: translateX(400%) ;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
}
.box:nth-of-type(even) {
    transform: translateX(-400%);
    -webkit-transform: translateX(-400%);
    -moz-transform: translateX(-400%);
    -ms-transform: translateX(-400%);
    -o-transform: translateX(-400%);
}
.box.show {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
.main-title {
    font-size: 4rem;
    margin-top: 10rem;
    margin-bottom: 60px;
}
.content {
    position: relative;
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .img {
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
}
.content .img img {
    z-index:  111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.content .text-box {
    z-index: 222;
    background: rgba(233, 26, 26, 0.176);
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 400px;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transform: translate(-80px, 50px);
    -webkit-transform: translate(-80px, 50px);
    -moz-transform: translate(-80px, 50px);
    -ms-transform: translate(-80px, 50px);
    -o-transform: translate(-80px, 50px);
}
.content .text-box h3 {
    font-size: 2em;
    margin-bottom: 10px;
}
.media-icons {
    margin-top: 50px;
}
.media-icons a{
    color: var(--color-text);
    font-size: 2em;
    margin: 60px;
}

/* ######## */
.section-title {
    font-size: 3em;
    margin-top: 60px;
    margin-bottom: 80px;
}
.info-title {
    font-size: 1.8em;
    margin-bottom: 10px;
}
.info {
    width: 700px;
    margin-left: 50px;
}
.media-info {
    width: 400px;
    margin-left: 50px;
}
.media-info li{
    list-style: none;
    font-size: 1.4em;
}
.media-info li a {
    color: var(--color-text);
    text-decoration: none;
}
.media-info li:not(:last-child) {
    margin-bottom: 50px;
}
.media-info li:nth-child(1), .media-info li:nth-child(4) {
    padding-left: 120px;
}
.media-info li:nth-child(2), .media-info li:nth-child(3) {
    padding-left: 50px;
}
.three {
    margin-bottom: 100px;
}
.info-btn {
    padding: 5px;
    color: var(--color-background);
    background: var(--color-sub);
    font-size: 1.2em;
    border: 1px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}
.info-btn a{
    color: var(--color-background);
}
.info-btn:hover {
    background: #c41e3a63;
}