/* Author: Dionisius Raka as codde.iD */
/* Copyright codde.iD */


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(150px);
    -ms-transform: translateY(150px);
    -o-transform: translateY(150px);
    opacity: 0;
    transition: all 2s;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
}
.reveal.active {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    opacity: 1;
}

:root {
    --color-background: #fff;
    --color-sub: #C41E3A;
    --color-text: rgba(16, 16, 16, 0.87);
    --color-btn: #FF4433;
    --color-hover: #ffff00;

    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 500ms ease;
}

html {
    scroll-behavior: smooth;
}

/* preloader */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-sub);
    transition: opacity 0.75s, visibility 0.75s;
    -webkit-transition: opacity 0.75s, visibility 0.75s;
    -moz-transition: opacity 0.75s, visibility 0.75s;
    -ms-transition: opacity 0.75s, visibility 0.75s;
    -o-transition: opacity 0.75s, visibility 0.75s;
    z-index: 1002;
}
.loader-hidden {
    opacity: 0;
    visibility: hidden;
}
.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #fff;
    border-top-color: var(--color-btn);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: loading 0.75s ease infinite;
    -webkit-animation: loading 2s ease infinite;
}
@keyframes loading {
    from {
        transform: rotate(0turn)    ;
        -webkit-transform: rotate(0turn)    ;
        -moz-transform: rotate(0turn)    ;
        -ms-transform: rotate(0turn)    ;
        -o-transform: rotate(0turn)    ;
} to {
    transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    -o-transform: rotate(1turn);
}
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
    color: var(--color-text);
    background: var(--color-background);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.7rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.2rem;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

/* navbar */
nav {
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

/* Changing Navbar */
.window-scroll {
    display: flex;
    background: var(--color-sub);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}

#open-menu-btn i {
    color: #000;
}

#close-menu-btn i {
    color: #000;
}

.nav-container {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
}


.logo {
    color: var(--color-background);
}

nav button {
    display: none;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-menu a {
    color: var(--color-background);
    font-size: 0.8rem;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.nav-menu a:hover {
    color: var(--color-hover);
}

/* Navbar End */

/* Header section */
header {
    position: relative;
    top: 0;
    overflow: hidden;
    height: 35rem;
    margin-bottom: 5rem;
    background-image: url('css_assets/header_bg.png');
    background-size: cover;
    z-index: -1;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.header-left span {
    color: var(--color-sub);
    text-shadow: #fff 0 0 1.7rem;
}

.header-left h1 {
    color: var(--color-background);
}

.header-left p {
    color: var(--color-background);
    margin: 0.5rem 0 1rem;
}

.input {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 7px;
    color: var(--color-background);
}

.sub-header-container {
    display: flex;
    top: 0;
    position: absolute;
    height: 39rem;
    width: 22rem;
    margin-left: 46rem;
    background: var(--color-sub);
    opacity: 80%;
}

.social {
    width: 5rem;
    display: flex;
}

.social a {
    height: 37px;
    width: 37px;
    cursor: pointer;
    display: inline-flex;
    color: var(--color-background);
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    margin-right: 20px;
}

.sub-nav {
    margin-top: 1rem;
    height: 3rem;
    width: 22rem;
    background: transparent;
}

.email {
    height: 3rem;
    width: 3rem;
    background: var(--color-background);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.email i {
    height: 5rem;
    font-size: 2rem;
    padding: 7px 5px;
    display: flex;
    position: relative;
    text-justify: center;
    text-align: center;
}

.sub-nav h4 {
    font-size: 1rem;
    color: var(--color-background);
    display: flex;
    position: absolute;
    text-align: center;
    padding-left: 3.5rem;
    padding-top: 0.7rem;
}

.sub-nav h3 {
    display: flex;
    position: absolute;
    font-size: 12px;
    text-align: center;
    right: 0;
    padding-right: 1rem;
    padding-top: 0.7rem;
    color: var(--color-background);
}

.sub-content {
    background: transparent;
    position: absolute;
    height: 30rem;
    width: 22rem;
    margin-top: 5rem;
    z-index: -1;
}

.sub-content h1 {
    text-align: center;
    color: var(--color-background);
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.article-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 6rem;
}

.article-icons {
    padding-left: 10px;
    text-align: center;
}

.sub-article {
    display: flex;
    color: var(--color-background);
    font-size: 2rem;
    padding: 2px 10px;
    background-color: transparent;
    gap: 1.5rem;
}

.sub-article p {
    font-size: 11px;
    position: relative;
    padding-left: 5px;
}

/* header end */

/* middle content */
.middle-line {
    display: flex;
    position: relative;
    height: 2px;
    background: black;
    left: 0;
    margin-bottom: 1rem;
}

.middle-container {
    height: 55rem;
}

.middle-container span {
    font-size: 2rem;
}

.middle-box1 {
    display: flex;
    position: absolute;
    margin-top: 16rem;
    margin-left: 34rem;
    height: 13rem;
    width: 17rem;
    border: solid black 2px;
    border-left: none;
    z-index: 1;
}

.box-contain1 {
    background-image: url(css_assets/samrt_access.jpg);
    background-size: cover;
}

.middle-box2 {
    display: flex;
    position: absolute;
    margin-top: 16rem;
    height: 13rem;
    width: 17rem;
    border: solid black 2px;
    border-right: none;
}

.box-contain2 {
    background-image: url(css_assets/power_card.jpg);
    background-size: cover;
}

.middle-box3 {
    display: flex;
    position: absolute;
    margin-top: 29rem;
    height: 13rem;
    width: 17.15rem;
    border: solid black 2px;
    border-top: none;
}

.box-contain3 {
    background-image: url(css_assets/smart_speaker.jpg);
    background-size: cover;
}

.middle-box4 {
    display: flex;
    position: absolute;
    margin-top: 3rem;
    margin-left: 17rem;
    height: 13rem;
    width: 17rem;
    border: solid black 2px;
    border-bottom: none;
}

.box-contain4 {
    background-image: url(css_assets/smart_lamp.jpg);
    background-size: cover;
}

.middle-box5 {
    display: flex;
    position: absolute;
    margin-top: 16rem;
    margin-left: 17rem;
    height: 13rem;
    width: 17rem;
    border: solid black 2px;
}

.box-contain5 {
    background-image: url(css_assets/smart_warn.jpg);
    background-size: cover;
}

.middle-icons {
    color: var(--color-background);
    height: 3rem;
    width: 3rem;
    margin: 5px;
    background: transparent;
}

.middle-contain:hover {
    color: var(--color-background);
    background: var(--color-sub);
    cursor: pointer;
}

.box-body {
    color: var(--color-background);
    height: 100%;
    width: 100%;
    top: 0;
    left: -1000%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    opacity: 0;
    padding-left: 10px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.middle-box1:hover .box-body {
    left: 0;
    opacity: 100%;
}

.middle-box2:hover .box-body {
    left: 0;
    opacity: 100%;
}

.middle-box3:hover .box-body {
    left: 0;
    opacity: 100%;
}

.middle-box4:hover .box-body {
    left: 0;
    opacity: 100%;
}

.middle-box5:hover .box-body {
    left: 0;
    opacity: 100%;
}

.box-body p {
    text-align: center;
    font-size: 15px;
}

.box-body h4 {
    text-align: center;
    color: var(--color-background);
    display: flex;
    position: absolute;
    font-size: 15px;
    top: 0;
    margin-top: 12px;
    margin-left: 3rem
}

.middle-article {
    font-weight: 700;
    position: absolute;
    width: 25rem;
    margin-top: 12rem;
    margin-left: 35rem;
}

.middle-sub-article {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 20rem;
    margin-top: 32rem;
    margin-left: 20rem;
}

.middle-sub-article a {
    width: 6.5rem;
    padding: 2px 10px;
    margin-top: 10px;
    color: var(--color-background);
    background: var(--color-btn);
    border: var(--color-text) solid 2px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.middle-sub-article a:hover {
    background: #FA8072;
}

/* Middle section end */

/* about us trailer */
.about-us-tr {
    display: grid;
    grid-template-columns: 40% 60%;
    height: 30rem;
    background: var(--color-sub);
    box-shadow: 1px 0 3rem;
}

.abt-tr-left {
    display: flex;
    align-items: center;
    margin-left: 9rem;
}

.abt-tr-left img {
    height: 15rem;
    width: 40rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.abt-tr-right {
    display: flex;
    flex-direction: column;
    width: 25rem;
    color: var(--color-background);
    margin-left: 15rem;
}

.abt-tr-right h1 {
    margin-top: 5rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.abt-tr-art {
    height: 25rem;
    display: flex;
    flex-direction: column;
}

.abt-tr-art a {
    height: 3rem;
    width: 10rem;
    background: var(--color-btn);
    text-align: center;
    padding-top: 0.7rem;
    color: var(--color-background);
    border: var(--color-background) solid 1.5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
}

.abt-tr-art a:hover {
    background: #ffffffb1;
}


/* On top Button */
#progress {
    background-color: #FF4433;
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    cursor: pointer;
    z-index: 1002;
}
#progress-value {
    display: block;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    background: #fff;

    border-radius: 50%;
    display: grid;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    place-items: center;
    font-size: 40px;
    color: #000;
}

/* Media partner */
.partner-container {
    height: 20rem;
    padding-bottom: 5rem;
}

.partner-title {
    padding: 64px 45%;
}

.section-title {
    display: flex;
    text-align: center;
    margin-bottom: 1.5rem;
}

.section-title h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.logos-slider {
    overflow-x: hidden;
}

.overflow {
    display: flex;
    width: 100%;
    padding: .5rem 1rem;
    overflow: hidden;
}

.logos-wraper {
    display: flex;
    justify-content: space-around;
}

.logo-item {
    margin-left: 1rem;
    padding: 0 2rem;
    background: #fff;
    display: grid;
    place-items: center;
}

.logo-item img {
    height: 4rem;
    margin-inline: 2rem;
}


/* Footer */
footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--color-sub);
    height: 190px;
    padding: 20px 50px;
    margin-top: 5rem;
}
footer .social-ft-icons, 
footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .social-ft-icons li,
footer .menu li {
    list-style: none;
}
footer .social-ft-icons li a{
    font-size: 2em;
    color: var(--color-background);
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
footer .social-ft-icons li a:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
footer .menu li a{
    font-size: 1.2em;
    color: var(--color-background);
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
footer .menu li a:hover {
    opacity: 1;
}
footer p{
    color: var(--color-background);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
    opacity: 0.75;
}
footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(css_assets/wave.png);
    background-size: 1000px 100px;
}
footer .wave#wave1 {
    z-index: 1000;
    opacity: 0.5;
    bottom: 0;
    animation: animateWave 6s linear infinite;
    -webkit-animation: animateWave 6s linear infinite;
}
footer .wave#wave2 {
    z-index: 999;
    opacity: 0.7;
    bottom: 0;
    animation: animateWaveReverse 10s linear infinite;
    -webkit-animation: animateWaveReverse 10s linear infinite;
}
footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.5;
    bottom: 15px;
    animation: animateWaveReverse 5s linear infinite;
    -webkit-animation: animateWaveReverse 5s linear infinite;
}
footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWaveReverse 20s linear infinite;
    -webkit-animation: animateWaveReverse 20s linear infinite;
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}
@keyframes animateWaveReverse {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}