/* Author: Dionisius Raka as codde.iD */
/* Copyright codde.iD */

:root {
    --color-background: #fff;
    --color-sub: #C41E3A;
    --color-text: rgba(16, 16, 16, 0.87);
    --color-btn: #FF4433;

    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 500ms ease;
}

/* navbar */
nav {
    background: var(--color-sub);
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.main-section {
    margin: 2rem;
    letter-spacing: 1px;
}
